<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Admin Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/user.png"/>
          </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>PPM value is greater than 2000, please help.</h3>
            <p>Near Ulloor , in trivandrum.</p>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
