<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Admin Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf='(data$|async) as res'>
    <ng-container *ngIf='res.data;else notificationTemplate;'>
      <ion-list>
        <ion-item *ngFor="let data of res.data">
          <ion-label>
            <ion-text color='primary'>
              <h2>{{data?.User?.FullName}}</h2>
            </ion-text>
            <h3>Ph. {{data?.User.PhoneNumber}}</h3>
            <ion-text text-wrap>
              <p> Message :({{data?.Value}}) {{data?.Message}}</p>
            </ion-text>
          </ion-label>
          <ion-fab-button [appLocation]='data?.User.LatLng' color='secondary' slot='end' *ngIf='data?.User.LatLng'>
            <ion-icon name="compass"></ion-icon>
          </ion-fab-button>
        </ion-item>
      </ion-list>
    </ng-container>
    <ng-template #notificationTemplate>
      <ng-container *ngIf='res.error||res.empty;else loadingTemplate;'>
        <div class="item-center" [hidden]='!res.error'>
          Something went wrong , Try again later .
        </div>
        <div class="item-center" [hidden]='!res.empty'>
          List is empty.
        </div>
      </ng-container>
      <ng-template #loadingTemplate>
        <div class="item-center">
          <ion-spinner name="lines"></ion-spinner>
        </div>
      </ng-template>
    </ng-template>
  </ng-container>

</ion-content>