<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>IOT Device</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <div [ngSwitch]="currentStatus">
    <ion-card color='success' *ngSwitchCase='pollutionStatuses["Safe"]' padding>
      <p>Signal Value : {{value}} PPM</p>
      <h1>Fresh Air</h1>
      <h2>Value less than 350 PPM is safe .</h2>
    </ion-card>
    <ion-card color='warning' *ngSwitchCase='pollutionStatuses["Warning"]' padding>
      <p>Signal Value : {{value}} PPM</p>
      <h1>Poor Air , Open Windows </h1>
      <h2>Value greater than 1000 PPM cause Headache , sleepiness and stagnant , stale , stuffy air .</h2>
      <ion-button round fill="outline" color='dark' [routerLink]="['/report',value]">Report</ion-button>
    </ion-card>
    <ion-card color='danger' *ngSwitchCase='pollutionStatuses["Danger"]' padding>
      <p>Signal Value : {{value}} PPM</p>
      <h1>Danger ! Move to fresh Air </h1>
      <h2>Value greater than 1000 PPM cause Headache , sleepiness and stagnant , stale , stuffy air and if exceeds beyond
        2000 PPM then it can cause increased heart rate and many other diseases .</h2>
      <ion-button round fill="outline" color='secondary' [routerLink]="['/report',value]">Report</ion-button>
    </ion-card>
    <ion-card *ngSwitchDefault color='secondary' padding>
      <h2>No value to display .</h2>
      <h3>Try syncing your device again .</h3>
    </ion-card>
  </div>
  <ion-button round fill="outline" color='secondary' [routerLink]="['/report',12]">Report</ion-button>
</ion-content>