<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]='registerForm' novalidate>
    <ion-list>
      <ion-item-divider>
        <ion-label>
          <ion-text color="dark">
            <h2>FULL NAME</h2>
          </ion-text>
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-input formControlName='fullName' type="text" placeholder="Renjith"></ion-input>
      </ion-item>
      <ion-item-divider>
        <ion-label>
          <ion-text color="dark">
            <h2>PHONE NUMBER</h2>
          </ion-text>
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-input formControlName='phoneNumber' type="text" placeholder="Renjith"></ion-input>
      </ion-item>
      <ion-item-divider>
        <ion-label>
          <ion-text color="dark">
            <h2>ADDRESS</h2>
          </ion-text>
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-textarea formControlName='address' type="text" placeholder="Ulloor , Trivandrum"></ion-textarea>
      </ion-item>
      <ion-item-divider>
        <ion-label>
          <ion-text color="primary">
            <h2> ADDRESS FROM MAP</h2>
          </ion-text>
          <p>Latitude and longitude .</p>
        </ion-label>
        <ion-fab-button appLocation enableSelection='true'color='secondary' (onSelect)='onLocationSelect($event)'>
          <ion-icon name="compass"></ion-icon>
        </ion-fab-button>
      </ion-item-divider>
      <ion-item>
        <ion-input [value]='registerForm.get("latLng").value' type="text" placeholder="23.455,45.555" disabled></ion-input>
        <input type="hidden" formControlName="latLng">
      </ion-item>
      <ion-item-divider>
          <ion-label>
            <ion-text color="dark">
              <h2>PASSWORD</h2>
            </ion-text>
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-input formControlName='password' type="password" placeholder="password"></ion-input>
        </ion-item>
      <div padding>
        <ion-button color="primary" expand="full" (click)='onRegister()'>Sign Up</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>